$transition: .5s;

.gallery {
  &__item {
    position: relative;
    max-width: $width-img;
    margin-right: auto;
    margin-bottom: $gutter;
    margin-left: auto;
    @media (min-width: $screen-sm) {
      float: left;
      &:nth-child(2n) {
        margin-left: $gutter;
      }
    }
    @media (min-width: $screen-md) {
      &:nth-child(2n) {
        margin-left: 0;
      }
      &:not(:nth-child(3n)) {
        margin-right: $gutter;
      }
    }
    &:hover {
      .gallery__img:after {
        opacity: 1;
      }
      .gallery__data {
        opacity: 1;
      }
    }
  }
  &__img {
    position: relative;
    display: block;
    cursor: pointer;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .5);
      opacity: 0;
      transition: opacity $transition;
    }
  }
  &__data {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
    opacity: 0;
    transition: opacity $transition;
  }
  &__author {
    font-family: 'Julius Sans One', sans-serif;
    white-space: nowrap;
    color: #ccc;
    transition: color $transition;
    &:hover {
      color: #fff;
    }
  }
}
