.l {
  &-container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    @media (min-width: $screen-sm) {
      width: $width-img * 2 + $gutter;
    }
    @media (min-width: $screen-md) {
      width: $width-main;
    }
  }
}
